.form__width-1{
    width: 29%;
}
.planee{
    overflow: hidden !important;
}
.change-point-input{
    right: 11%;
}
.form__width{
    width: 37%;
    position: relative;
}
.form-control{
    border-radius: 15px !important;
 }
.form-btn{
    width: 20% !important   ;
}
.input__field{
      display: flex;

}
.form-btn button{
    color: #fff;
    background-color: #f23e3e;
    font-weight: 400;
    height: 50px;
    /* font-size: 14px; */
    border: none;
    width: 100%;
   
    border-radius: 40px;
    text-transform: uppercase;
    transition: 0.2s all;
}
.form-btn{
    position: relative;
    left: 12%;
}
@media screen and (max-width: 600px) {
.form__width{
    width: 100%;
}
.form__width-1{
    width: 82%;
}   
.form-btn{
    width: 100% !important;
}
  }
  @media screen and (max-width: 900px) {
.form__width{
    width: 100%;
}
.form__width-1{
    width: 80%;
}   
.form-btn{
    width: 100% !important;
}
.form-btn{
    position: relative;
    left: 0%;
}
.change-point-input{
    right: 0%;
}
  }
