.static__des__card{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    


}
.spacing__card{
    margin:70px
}
.image-area{
    padding: 0px 10px;
}

@media only screen and (max-width:1020px) {
    .static__des__card {
        flex-direction: column;
        
    }
    .img-wrapper{
        width: fit-content;
        display: block;
        margin: auto;
        
    }   
 
    .image-area{
        margin: 20px 0px;
    }
    .spacing__card{
        margin:20px
    }
    .spacing__card h1{
    font-size: 15px !important;
}
}